// New Style 
.service-slide-area {
    padding: 100px 0 70px;
    @media only screen and (max-width: 991px) {
        padding: 60px 0 30px;
    }
}

// Flex Heading 
.flex-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .section-title {
        margin-bottom: 10px;
    }
    .view-all-btn {
        color: #eb6ea6;
        transition: .3s;
        i {
            padding-left: 10px;
            transition: .3s;
        }
        &:hover {
            color: #5dc2ca;
            i {
                padding-left: 5px;
            }
        }
    }
}

// Carousel Nav Style 
.owl-nav {
    margin-top: 0;
    button {
        position: absolute;
        top: 30%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #5dc2ca  !important;
        background: #ffffff  !important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: none;
        transition: .3s;
        i {
            font-size: 18px;
        }

        &:hover {
            background: #5dc2ca !important;
            color: #ffffff !important;
        }

        &:focus {
            outline: none;
        }
    }

    .owl-prev {
        left: -30px;
        @media only screen and (max-width: 1199px) {
           left: 0; 
        }
    }

    .owl-next {
        right: -30px;
        @media only screen and (max-width: 1199px) {
            right: 0; 
         }
    }
}

// Section Heading New Style
.section-heading-2 {
    margin-bottom: 30px;
    .subtitle {
        display: block;
        padding-left: 40px;
        margin-bottom: 10px;
        position: relative;
        font-size: 14px;
        &:before {
            content: "";
            width: 30px;
            height: 1px;
            background-color: #979797;
            position: absolute;
            top: 12px;
            left: 0;
        }
    }
}

// Process Steps
.process-area {
    padding: 100px 0 60px;
    @media only screen and (max-width: 991px) {
        padding: 60px 0;
    }
}
.process-video {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    img {
        height: 350px;
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .popup-icon {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;

    }
}

.process-setps-list {
    padding-left: 60px;
    position: relative;
    @media only screen and (max-width: 991px) {
        padding: 0;
    }
    &:before {
        position: absolute;
        content: "";
        width: 3px;
        height: 250px;
        top: 20px;
        left: 84px;
        background-color: #f7f8fa;
        @media only screen and (max-width: 991px) {
            left: 24px;
        }
    }
    .process-steps {
        position: relative;
        padding-left: 70px;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
        .sl-number {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            background-image: linear-gradient(135deg,#23a999 1%,#00a1ba 52%,#006597);
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
        }
        .title {
            margin-bottom: 8px;
        }
        .process-text {
            font-size: 14px;
        }
    }
}

// Blog 
.blog-list-area {
    padding: 100px 0 60px;
}

.blog-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    li {
        display: inline-block;
        font-size: 10px;
        position: relative;
        color: #b4b4b4;
        &:after {
            content: '-';
            padding-left: 5px;
        }
        a {
            color: #f3bb2c;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.blog-list {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .blog-thumb {
        a {
            display: block;
        }
        img {
            height: 200px;
            width: 260px;
        }
    }
    .blog-content {
        flex: 1;
        padding-left: 30px;
        .title {
            margin-bottom: 10px;
            margin-top: 10px;
            font-weight: 400;
            a {
                color: #141414;
                transition: .3s;
                &:hover {
                    color: #eb6ea6;
                }
            }
        }
        .reading-time {
            span {
                font-weight: 500;
                font-size: 14px;
            }
        }
        p {
            font-size: 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}