/*-------------------------
  Variables
-------------------------*/

// Color 
$primary_color: #c71f66;
$secondary_color: #04a2b7;

$dark_color: #141414;
$black_color: #000000;
$white_color: #ffffff;
$body_color: #444444;

// Font 
$primary_font: 'Poppins', sans-serif;
