/*-------------------------
  Variables
-------------------------*/

// Color 
$primary_color: #5dc2ca;
$secondary_color: #eb6ea6;

$dark_color: #141414;
$black_color: #000000;
$white_color: #ffffff;
$body_color: #343839;

// Font 
$primary_font: 'Poppins', sans-serif;
